

.header{
    width:90%;
    height:40px;
    padding:0 5%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #0f0f0f;
    font-size:18px;
    color:#898989;
    position:sticky;
    top:0;
    z-index: 100;
}

.header_premium{
    color:#5FC5FF;
}

.header_right{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:7px;
}

.header_right a{
    color:#a2a2a2;
    text-decoration: none;
    height:40px;
    line-height:40px;
    padding:0 30px;
}

.header_right a:hover{
    background-color: #343434;
}
