.title_header{
    width:auto;
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items:center; 
    background-color: #293929;
    padding: 0px 5%;
    z-index: 1000;
    position:relative;
}

.title_header .title{
    font-size: 32px;
    height:fit-content;
    color:#989898;
    font-weight:900;
}
