*{
    font-family: 'Merriweather';
}

body{
    margin:0px;
    padding:0px;
    background-color: #070707;
    overflow-y:scroll;
}

.main{
    padding-top:50px;
}

.main-title{
    width:1250px;
    margin:auto;
    height:fit-content;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:100px;
    justify-content:center;
    /* gap:30px; */
}

.box_title{
    width:fit-content;
    height:fit-content;
    padding: 16px 50px;
    background-color: #171717;
    color:#d9d9d9;
    font-size:24px;
    font-weight:900;
    border-radius:30px;
    margin:auto;
    margin-bottom:0;
    margin-left:50px;
    transform: translate(0, -14px);
}

.type-selection{
    /* width:280px; */
    /* height:70px; */
    margin:auto;
    margin-top:40px;
    margin-right:80px;
}

.type-button{
    font-size: 20px;
    line-height: 24px;
    color:#a3a3a3;
    background-color: #464646;
    width:240px;
    height:50px;
    line-height:50px;
    border-radius: 1000px;
    font-weight:900;
    text-align:center;
    cursor:pointer;
}

.type-button:hover{
    background-color: #595959;
}

.type-field{
    display:none;
    gap:10px;
    background-color: #d9d9d9;
    width:fit-content;
    padding:8px 20px;
    border-radius: 30px;
    position:absolute;
}

.type-field *{
    height:30px;
    line-height:30px;
}

.type-intv-input{
    border:none;
    outline:none;
    text-align: center;
    padding:3px 0;
    width:44px;
    border-radius: 10px;
}
.type-title{
    font-size:14px;
    width:130px;
    text-align: right;
    padding:3px 7px;
}
.type-confirm, .type-cancel{
    background-color: #d9d9d9;
    font-size:10px;
    width:55px;
    text-align: center;
    padding:3px 7px;
    border-radius: 10px;
    cursor:pointer;
}


.content-box{
    width:1250px;
    height:fit-content;
    padding-bottom:50px;
    background-color: #040404;
    margin:auto;
    display:flex;
    flex-direction: column;
}

.day-selection{
    /* background-color: #777777; */
    width:1100px;
    height:70px;
    border-radius: 10px;
    display:flex;
    margin:auto;
    margin-top:10px;
    margin-bottom:30px;
    padding:10px 40px;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:end;
    align-content: flex-start;
    gap:20px;
    overflow-y: hidden;
    overflow-x: auto;
    grid-template-rows:70px;
}

.day-selection::-webkit-scrollbar {
    height:10px;
    background-color: #d3d3d3;
    border-radius:20px;
}

.day-selection::-webkit-scrollbar-thumb {
    background-color: #4b5f49;
    border-radius: 10px;
}

.day-selection::-webkit-scrollbar-thumb:hover {
    background-color: #222b21;
    border-radius: 10px;
}

.day-selection .day{
    width:250px;
    height:50px;
    background-color: #4f5f4e;
    border-radius:40px;
    color:#a2a2a2;
    font-weight:700;
    font-size:20px;
    line-height: 50px;
    text-align:center;
    cursor:pointer;
}

.day-selection .day:hover{
    /* box-shadow: 0 0 8px 8px #ffffff40; */
    background-color: #344233;
}

.day.current{
    background-color: #344233;
}






.editor-box-dropdown{
    width:calc(88% + 60px);
    height:17px;
    border-radius:100px;
    background-color:#030303;
    margin:auto;
    /* display:block; */
    display:none;
}

.editor-box-dropdown button{
    width:150px;
    height:40px;
    border-radius:0 0 5px 5px;
    position:relative;
    /* display:block; */
    display:none;
    margin:auto;
    border:none;
    outline:none;
    background-color: #2d2d2d;
}

.editor-box{
    background-color: #777777;
    padding:30px 0;
    width:1150px;
    height:fit-content;
    /* justify-content: space-between; */
    display:grid;
    grid-template-columns: 380px auto;
    margin:auto;
    border-radius: 20px;
}

.list-container{
    width:100%;
    height:fit-content;
    /* background-color: gray; */
    margin-left:auto;
    margin-right:0;
    display:grid;
    grid-template-columns: auto 120px;
    grid-template-rows: 70px 34px auto;
}

.list-title{
    width:fit-content;
    height:fit-content;
    /* text-align: left; */
    font-size:26px;
    font-weight:700;
    color:#d9d9d9;
    margin:auto;
    margin-left:140px;
    margin-bottom:14px;
    background-color: transparent;
    border:none;
    outline:none;
    padding:7px 45px;
    border-radius: 20px;
}

.list-title:hover{
    background-color: #676767;
}

.list-title:focus{
    color:#bb7575;
    background-color: #783b3b;
}

.identifiers{
    display:grid;
    width:90%;
    margin-left:auto;
    margin-right:0;
    height:100%;
    grid-template-columns: auto 90px 90px;
    color:#b2b2b2;
    font-size:16px;
    font-weight:700;
}

.identifiers div{
    width:100%;
    height:fit-content;
    margin:auto;
    margin-bottom: 10px;
}

.list{
    width:90%;
    height:fit-content;
    margin-left:auto;
    margin-right:0;
    background-color: #585858;
    border-radius:30px;
    padding-left:50px;
    padding-top:20px;
    padding-bottom:20px;
    display:grid;
    row-gap:10px;
    font-size:28px;
    color:#d9d9d9;
    grid-template-columns: auto 90px 90px;
}

.list input:hover{
    background-color: #353535;
}
.list input{
    background-color: #6a6a6a;
    border-radius:40px;
    color:#eaeaea;
    border:none;
    outline:none;
    font-size:16px;
    font-weight:700;
}

.l-name{
    width:330px;
    height:35px;
    background-color: #585858;
    color:#d9d9d9;
    font-size:28px;
    padding:5px 20px;
    border-radius:5px;
    transform:translate(-20px, 0);
}

.l-ghost{ background-color: transparent; width:330px; height:35px}
.l-name.boo { display:none; background-color: #787878; border-radius: 40px; text-align: center; user-select: none;}
.l-ghost:hover .boo{display:block; cursor:pointer}

.l-reps, .l-sets{
    width:30px;
    height:35px;
    background-color: #585858;
    color:#d9d9d9;
    font-size:28px;
    padding:5px 15px;
    border-radius:5px;
    transform:translate(-10px, 0);
}

.list .icon{
    position:absolute;
    transform: translate(500px, 0);
}

.util{
    width:100%;
    padding-top:20px;
}

.icon-list{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom:20px;
    height:35px;
}

.icon-list img{
    width:32px;
    height:32px;
    cursor:pointer;
}




.preview{
    width:280px;
    height:440px;
    margin: auto;
    margin-top:0;
    margin-right:30px;
}

.preview-box{
    width:100%;
    height:90%;
    background-color: #D98A8A;
    border-radius: 25px;
}

.preview-title{
    width:100%;
    height:60px;
    line-height: 60px;
    text-align:center;
    background-color: #A35555;
    color: #521414;
    font-size:22px;
    font-weight:700;
    border-radius: 25px 25px 0 0;
}

.preview-list{
    width:100%;
    height:280px;
    overflow-y:auto;
    margin:auto;
    padding-top:20px;
    /* margin-left:10px; */
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
    /* justify-content: center; */
    gap:10px;
}

.preview-list::-webkit-scrollbar{
    width:1rem;
    height:1rem;
    background-color:black;
}

.preview-list::-webkit-scrollbar-thumb{
    background-color:#353535;
    border-radius:100vw;
    border:0.25rem solid black;
}

.preview-list::-webkit-scrollbar-track{
    background-color:black;
    border-radius:100vw;
    margin-block:0.5em;
}

.preview-set{
    width:36px;
    height:36px;
    margin:0 0px 0 20px;
    line-height:34px;
    font-size:16px;
    font-weight:900;
    text-align:center;
    background-color: #C63E3E;
    border-radius: 100px;
    color:#d9d9d9;
}

.preview-txt{
    width:180px;
    font-size:16px;
    font-weight:700;
    margin-top:8px;

    color:#040404;
}

.preview-caption{
    width:100%;
    height:44px;
    line-height:44px;
    margin-top:auto;
    margin-bottom: 0;
    text-align:center;
    font-size:14px;
    font-style:italic;
    color:#d9d9d9;
}



.save{
    margin:auto;
    margin-top:30px;
    margin-bottom:100px;
    width:140px;
}

.save-button{
    margin:auto;
    width:fit-content;
    height:fit-content;
    padding: 10px 50px;
    background-color: #5A6F5C;
    color:#3A4938;
    font-size:24px;
    border-radius: 100px;
    border:none;
    outline:none;
    cursor:pointer;
}

.save-button:hover{
    box-shadow: 0 0 4px 4px #ffffff40;
}